#contact {
    justify-content: center;
    padding-top: 5rem;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(40, 40, 40), rgb(0, 0, 0));
    text-align: center;
}

.contact_holder {
    margin-top: 3rem;
}

.contact_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_text {
    margin-right: 9rem;
    margin-left: 13rem;
}

.social_icons {
    text-align:justify;
}

.social_icons li {
    margin-right: 10px;
    margin-bottom: 1rem;
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.fa-twitter {
    background-color: #434749;
    color: white;
}

.fa-facebook-messenger {
    background-color: #434749;
    color: white;
}

.fa-facebook-f {
    background-color: #434749;
    color: white;
}

.fa-envelope {
    background-color: #434749;
    color: white;
}
