#record {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(40, 40, 40), rgb(0, 0, 0));
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.excelsheet {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    height: 30rem;
    width: 80rem;
    margin-top: 2rem;
    border: 3px solid black;
}

.record_title {
    padding-top: -2rem;
}

.record_holder {
    margin-top: -2rem;
}

@media (max-width: 900px) {
    #record {
        width: fit-content;
    }

    .excelsheet {
        width: 51.2rem;
    }
}