.header_holder {
    background-image: radial-gradient(#8f8f8f, #2e2e2e, #8f8f8f);
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    width: 200%;
    background-position: center 50%;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
}

header {
    background-color: white;
}

.header_link {
    margin: 0 20px;
    font-size: 30px;
    color: white;
}

.header_link:hover {
    text-decoration: underline overline;
    color: #000000;
}

.header_logo a {
    color: white;
    font-size: 20px;
    transition: color 0.5s ease-in-out;
}

.neon_logo {
    margin-right: 35rem;
}

.font-effect-neon {
    text-shadow: 0 0 0.1em #000000, 0 0 0.2em #000000, 0 0 0.3em #000000, 0 0 0.4em rgb(255, 255, 255),0 0 0.6em rgb(255, 255, 255), 0 0 0.8em rgb(255, 255, 255), 0 0 1.0em rgb(255, 255, 255), 0 0 1.2em rgb(255, 255, 255);
    color: #fff;
  }
