.header_container {
    background-image: radial-gradient(#8f8f8f, #2e2e2e, #8f8f8f);
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    width: 200%;
    border-bottom: 1px solid rgb(0, 255, 34);
    background-position: center 50%; /* Adjust the vertical position (50% in this example) */
    background-size: cover;
}

.logos {
    height: 2rem;
    width: 8rem;
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
}

.header_link {
    margin: 0 20px;
    font-size: 30px;
    color: white;
}

.header_link:hover {
    text-decoration: underline;
    color: #fdcf00;
}

.header_logo a {
    color: white;
    margin-right: 31rem;
    font-size: 20px;
    transition: color 0.5s ease-in-out;
}

.header_logo a:hover {
    color: #fdcf00;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.fa-twitter {
    background-color: #434749;
    color: white;
}

.fa-facebook-messenger {
    background-color: #434749;
    color: white;
}

.fa-facebook-f {
    background-color: #434749;
    color: white;
}

.fa-envelope {
    background-color: #434749;
    color: white;
}