#hero{
    background-image: linear-gradient(#000000, #282828, #000000);
    padding-bottom: 10rem;
}

.hero_holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.hero_text_container h1 {
    font-size: 50px;
    margin-top: -4rem;
}

.hero_img {
    border-radius: 50px;
    height: 25rem;
    width: 25rem;
    margin-top: 4rem;
}

.hero_button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 0 10px #ffffff;
    transition: box-shadow 0.2s ease-in-out;
}

.hero_button:hover {
    box-shadow: none;
}

@media (max-width: 700px) {
    .hero_holder {
        display: block;
        text-align: center;
    }
}
