#skills {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(40, 40, 40), rgb(0, 0, 0));
    text-align: center;
    padding-bottom: 6rem;
}

.skills_title {
    padding-top: 5rem;
}

.skills_holder {
    margin-top: 2rem;
}

.skills_img {
    height: 16rem;
    width: 50rem;
}

@media (max-width: 700px) {
    .skills_img {
        width: 30rem;
    }
}